.about-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 40px;
}

.about-container h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.about-container p {
  margin-bottom: 15px;
  font-size: 18px;
}
